.FailText {
    color: #FF0000;
    text-align: left;
}

.gTitle {
    width: 100%;
    background-color: rgb(108,132,180);
    font-size: 16px;
    font-weight: bold;
    padding: 2px;
    text-align: left;
}

.AllBtn {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    height: 25px;
    border-spacing: 0px;
    border-collapse: collapse;
}

.iptEdt {
    width: 150px;
    font-size: 16px;
    font-weight: bold;
    font-family: Tahoma;
}

td {
    padding-left: 2px;
}

.l-button {
    height: 25px;
}

.l-grid-detailpanel-inner {
    width: 980px;
    overflow: hidden;
}

.l-grid-row-cell {
    white-space: nowrap;
}

.deletedItem {
    text-decoration: line-through;
}

.l-maingrid-header {
    height: 40px;
    line-height: 40px;
}

.l-grid-row-cell {
    background: #99CCFF;
}

.l-grid-row-over .l-grid-row-cell, .l-grid-row-over {
    background: #FF99FF;
}

.l-panel-topbar {
    background-color: #E0EDFF;
}

.Alarm {
    background-color: yellow;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
}

.Stop {
    background-color: red;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
}

.Normal {
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
}
